@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, blinkmacsystemfont, san francisco, roboto, segoe ui, helvetica neue, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(225 10% 99%/var(--tw-bg-opacity));
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.bg-light-mode {
  --tw-bg-opacity: 1;
  background-color: hsl(225 10% 99%/var(--tw-bg-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: hsl(225 10% 20%/var(--tw-text-opacity));
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #fdfdfd;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #e7a200;
    border-radius: 100vh;
    border: 3px solid #ffc956;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffa600;
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #4a5568;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #4a5568;
  cursor: pointer;
}

.slick-list {
  display: flex;
  justify-content: center;
}
.slick-slide:last-child {
  margin: 0 auto; /* Center the last slide */
}